.cards{
    width: 280px;
    height: 140px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding: 20px;
}

.cards p{
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.cards p:last-child{
    font-size: 23px;
    font-weight: 700;
    color: #000
}